<nav class="sidenav" [ngClass]="isOpen ? 'sidenav-collapsed' : ''">
  <header class="logo-container">
    <button type="button" class="logo" (click)="openSidenav()">A</button>
    <span *ngIf="isOpen" class="logo-text">Angular</span>
    <button
      *ngIf="isOpen"
      type="button"
      class="btn-close"
      (click)="closeSidenav()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <ul class="sidenav-nav">
    <li *ngFor="let item of menuItems; let i = index" class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        [routerLink]="item.link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        <mat-icon fontSet="material-icons-outlined" class="sidenav-link-icon">{{
          item.icon
        }}</mat-icon>
        <span
          *ngIf="isOpen"
          class="sidenav-link-text"
          [style]="{ 'animation-delay': '0.' + i + 's' }"
          >{{ item.name }}</span
        >
      </a>
    </li>

    <li style="flex-grow: 1;"></li>

    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link">
        <mat-icon fontSet="material-icons-outlined" class="sidenav-link-icon"
          >logout</mat-icon
        >
        <span
          *ngIf="isOpen"
          class="sidenav-link-text"
          >Logout</span
        >
      </a>
    </li>
  </ul>
</nav>
