<h1>Maps</h1>

<div class="buttons">
  <button
    mat-flat-button
    type="button"
    style="background: #13741d; color: #fff"
    (click)="openToastSuccess()"
  >
    Toast success
  </button>

  <button
    mat-flat-button
    type="button"
    style="background: #e74c3c; color: #fff"
    (click)="openToastError()"
  >
    Toast error
  </button>

  <button
    mat-flat-button
    type="button"
    style="background: #3498db; color: #fff"
    (click)="openToastInfo()"
  >
    Toast info
  </button>

  <button
    mat-flat-button
    type="button"
    style="background: #f1c40f; color: #fff"
    (click)="openToastWarning()"
  >
    Toast warning
  </button>
</div>
