.drawer-container {
  width: 100%;
  height: 100vh;
  display: flex;

  .drawer-sidenav {
  }

  .drawer-content {
    height: 100vh;
    position: relative;
    z-index: 0;
    top: 0;
    background-color: #cbcbcb;
    transition: all 0.5s ease;

    .drawer-content-main {
      max-height: calc(100vh - 64px);
      padding: 2rem;
      overflow-y: auto;
    }
  }
}

.drawer-trimmed {
  width: calc(100% - 16rem);
  margin-left: 16rem;
}

.drawer-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}
